.link_image{
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 20%;
  margin-top: auto;
  margin-bottom: auto;
  /* margin-left: 25px; */
  /* border: 1px solid #fff; */
  /* box-shadow: 0 0 0 1px #fff; */
  /* transition: all .3s ease; */
}
.link_title{
  font-size: 12px;
  /* width: 100px; */
  font-weight: bold;
  color: #fff;
  /* text-align: center; */
  /* margin-top: 10px; */
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none; 
}
.link_block{
  display: flex;
  width: 26%;
  /* padding-top: 10px; */
  /* height: 20px; */
  max-height: 50px;
  margin-top: 5px;
  min-width: 250px;
  max-width: 500px;
  /* cursor: pointer; */
}
.container {
    /* width: 810px; */
    /* min-width: 210px; */
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
    /* margin: auto; */
}