.header{
  margin: 0px auto;
  width: 50%;
  padding-top: 50px;
  padding-left: 20px;
}
.content{

  width: 90%;
  min-width: 500px;
  /* max-width: 1000px; */
  margin: auto;
}
.work{
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #001e2c;
  color: #ffffff;
  padding: 30px;
}
.tool{
  margin:auto;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #001e2c;
  color: #ffffff;
  padding: 30px;
}
.email{
  /* margin:auto; */
  margin-top: 20px;
  border-radius: 20px;
  background-color: #001e2c;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}